Assignment Question 1

1.1

In [17]:
L=[10,20,30,40,50,60,70,80,90,100]
L.append(200)
L.append(300)


print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300]

1.2

In [18]:
L.remove(10)
L.remove(20)
print(L)

[30, 40, 50, 60, 70, 80, 90, 100, 200, 300]

1.3

In [19]:
L.sort()
print(L)

[30, 40, 50, 60, 70, 80, 90, 100, 200, 300]

1.4

In [20]:
L.sort(reverse=True)

print(L)

[300, 200, 100, 90, 80, 70, 60, 50, 40, 30]

Here starts question 2.

2.1

In [14]:
T=(45,89.5,76,45.4,89,92,58,45)
print(max(T))

92

2.2

In [21]:

c = min(T)
print(c)
print(T.count(c))

45
2

2.3

In [23]:
T1=T[::-1]
T2=list(T)
print(T1)
print(T2)

(45, 58, 92, 89, 45.4, 76, 89.5, 45)
[45, 89.5, 76, 45.4, 89, 92, 58, 45]

2.4

In [25]:
n=int(input("Enter to check for value:"))
x=T.count(n)


if x>0:
  print("The element is present in the tuple and is at ",T.index(n),"position")
else:
  print("The element is not present in the tuple")

Enter to check for value:45
The element is present in the tuple and is at  0 position

Quetion 3 starts here.

3.1

In [30]:
import random as r

random_nums=[r.randint(100,900) for _ in range(100)]
odd_nums=[num for num in random_nums if num%2!=0]
print("The total number of numbers is:",len(random_nums))
print(random_nums)


print("The number of odd numbers is:",len(odd_nums))
print(odd_nums)

The total number of numbers is: 100
[406, 157, 736, 510, 701, 659, 257, 224, 206, 503, 124, 491, 352, 582, 464, 735, 163, 386, 768, 845, 414, 474, 774, 713, 829, 276, 810, 800, 507, 185, 194, 874, 757, 824, 374, 340, 367, 821, 704, 184, 157, 132, 125, 708, 373, 700, 614, 116, 189, 765, 564, 763, 741, 631, 354, 208, 721, 725, 260, 522, 589, 857, 254, 613, 180, 757, 317, 829, 429, 605, 134, 246, 748, 314, 882, 688, 875, 696, 198, 349, 642, 210, 277, 196, 877, 118, 371, 230, 351, 381, 769, 178, 400, 850, 816, 150, 136, 524, 132, 412]
The number of odd numbers is: 42
[157, 701, 659, 257, 503, 491, 735, 163, 845, 713, 829, 507, 185, 757, 367, 821, 157, 125, 373, 189, 765, 763, 741, 631, 721, 725, 589, 857, 613, 757, 317, 829, 429, 605, 875, 349, 277, 877, 371, 351, 381, 769]

3.2

In [34]:
import random as r

random_nums=[r.randint(100,900) for _ in range(100)]
even_nums=[num for num in random_nums if num%2==0]

print("The total number of numbers is:",len(random_nums))
print(random_nums)


print("The number of even numbers is:",len(even_nums))
print(even_nums)

The total number of numbers is: 100
[563, 880, 329, 261, 881, 525, 291, 810, 524, 442, 776, 647, 448, 773, 142, 833, 682, 613, 443, 762, 219, 386, 786, 469, 574, 148, 161, 317, 298, 787, 790, 282, 481, 291, 409, 497, 352, 243, 853, 209, 283, 190, 773, 582, 608, 535, 440, 457, 895, 323, 189, 773, 735, 899, 304, 547, 152, 808, 538, 473, 615, 364, 712, 112, 148, 621, 306, 434, 294, 725, 737, 368, 684, 391, 143, 161, 555, 440, 607, 119, 131, 731, 207, 596, 702, 787, 669, 140, 364, 775, 278, 551, 527, 341, 479, 537, 780, 537, 577, 288]
The number of even numbers is: 42
[880, 810, 524, 442, 776, 448, 142, 682, 762, 386, 786, 574, 148, 298, 790, 282, 352, 190, 582, 608, 440, 304, 152, 808, 538, 364, 712, 112, 148, 306, 434, 294, 368, 684, 440, 596, 702, 140, 364, 278, 780, 288]

3.3

In [35]:
import random

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]
prime_numbers = [num for num in random_numbers if is_prime(num)]

print("The total number of numbers is:",len(random_nums))
print(random_nums)


print("Count of prime numbers:", len(prime_numbers))
print("Prime numbers:", prime_numbers)

The total number of numbers is: 100
[563, 880, 329, 261, 881, 525, 291, 810, 524, 442, 776, 647, 448, 773, 142, 833, 682, 613, 443, 762, 219, 386, 786, 469, 574, 148, 161, 317, 298, 787, 790, 282, 481, 291, 409, 497, 352, 243, 853, 209, 283, 190, 773, 582, 608, 535, 440, 457, 895, 323, 189, 773, 735, 899, 304, 547, 152, 808, 538, 473, 615, 364, 712, 112, 148, 621, 306, 434, 294, 725, 737, 368, 684, 391, 143, 161, 555, 440, 607, 119, 131, 731, 207, 596, 702, 787, 669, 140, 364, 775, 278, 551, 527, 341, 479, 537, 780, 537, 577, 288]
Count of prime numbers: 11
Prime numbers: [857, 467, 137, 631, 101, 167, 631, 109, 461, 613, 373]

Question 4 starts here

4.1

In [39]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

scores_in_both=A.union(B)



print("The scores present in both are:",scores_in_both)

The scores present in both are: {34, 45, 78, 23, 56, 90}

4.2

In [38]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

common_scores=A.intersection()

print("The common elements are:",common_scores)

The common elements are: {56, 34, 90, 78}

4.3

In [40]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

unique_scores_A=A.symmetric_difference(B)
unique_scores_B=B.symmetric_difference(A)

print("The unique elements in A are:",unique_scores_A)
print("The unique elements in B are:",unique_scores_B)

The unique elements in A are: {34, 45, 23, 56}
The unique elements in B are: {34, 45, 23, 56}

4.4

In [41]:
is_subset = A.issubset(B)

is_superset = B.issuperset(A)

print("Is A a subset of Team B?", is_subset)
print("Is B a superset of Team A?",is_superset)

Is A a subset of Team B? False
Is B a superset of Team A? False

4.5

In [45]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

n = int(input("Enter what you want to remove from A: "))

if n in A:
    A.remove(n)
    print("The new A is:", A)
else:
    print("Not in A.")

Enter what you want to remove from A: 34
The new A is: {56, 90, 78}

Question 5

In [46]:
sample_dict={
    "name":"kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}



sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}